﻿@model IEnumerable<LibraryApp.BLL.DTO.Order.OrderBLL>
@{
    ViewData["Title"] = "Все заказы";
}

<form id="formSearch" class="form-inline my-2 my-lg-0" title="/order/get-on-query" asp-area="" asp-controller="Order" asp-action="GetOnQuery" method="get">
    <input id="search" class="form-control mr-sm-2" size="40" type="search" name="query" autocomplete="off" placeholder="Введите номер заказа" />
</form>
<a class="btn btn-outline-success my-2 my-sm-0" href="@Url.Action("GetUnprocessed", "Order")">Активные заказы</a>
<a class="btn btn-outline-success my-2 my-sm-0" href="@Url.Action("GetCheckout", "Order")">Выданные книги</a>
<a class="btn btn-outline-success my-2 my-sm-0" href="@Url.Action("GetReturnOrder", "Order")">Возвращенные книги</a>
<h1>Список активных заказов</h1>

<div id="livesearch">
    @if (Model.Count() == 0)
    {
        <h3>В приложении отсутствуют заказы</h3>
    }
    else
    {
        <table class="table table-sm table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Номер заказа</th>
                    <th>Название книги</th>
                    <th>Количество книг</th>
                    <th>ISBN</th>
                    <th>Информация о заказчике</th>
                    <th>Время заказа</th>
                    <th>Время обработки заказа</th>
                    <th>Обработка заказа</th>
                    <th>Время возврата заказа</th>
                    <th>Возврат заказа</th>
                </tr>
            </thead>
            <tbody id="orderList">
                @foreach (var order in Model)
                {
                    <tr>
                        <td>@order.Id</td>
                        <td>@order.Book.Title</td>
                        <td>@order.Count</td>
                        <td>@order.Book.Isbn</td>
                        <td>@order.User.Name</td>
                        <td>@order.DateOrder</td>
                        @if (order.Status == 1)
                        {
                            <td>Заказ не обработан</td>
                            <td>
                                <form action="" method="post">
                                    <input type="hidden" name="orderId" value="@order.Id" />
                                    <button class="btn btn-success" asp-action="Checkout" asp-controller="Order" type="submit">Оформить</button>
                                </form>
                            </td>
                            <td></td>
                            <td></td>
                        }
                        else if (order.Status == 2)
                        {
                            <td>@order.DateCheckout</td>
                            <td>Заказ оформлен</td>
                            <td>У пользователя</td>
                            <td>
                                <form action="" method="post">
                                    <input type="hidden" name="orderId" value="@order.Id" />
                                    <button class="btn btn-success" asp-action="ReturnBook" asp-controller="Order" type="submit">Вернуть</button>
                                </form>
                            </td>
                        }
                        else
                        {
                            <td>@order.DateCheckout</td>
                            <td>Заказ оформлен</td>
                            <td>@order.DateReturn</td>
                            <td>Книга возвращена</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

<script src="~/js/SearchOrder.js"></script>




