﻿@model LibraryApp.BLL.DTO.Order.OrderBLL
@{
    ViewData["Title"] = "Результаты поиска";
}

<form class="form-inline my-2 my-lg-0" asp-area="" asp-controller="Order" asp-action="GetOnQuery" method="get">
    <input class="form-control mr-sm-2" size="40" type="search" name="query" placeholder="Введите номер заказа" />
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
</form>
<a class="btn btn-outline-success my-2 my-sm-0" href="@Url.Action("Get", "Order")">Все заказы</a>
<a class="btn btn-outline-success my-2 my-sm-0" href="@Url.Action("GetUnprocessed", "Order")">Активные заказы</a>
<a class="btn btn-outline-success my-2 my-sm-0" href="@Url.Action("GetCheckout", "Order")">Выданные книги</a>
<a class="btn btn-outline-success my-2 my-sm-0" href="@Url.Action("GetReturnOrder", "Order")">Возвращенные книги</a>
<h1>Результаты поиска</h1>
@if (Model == null)
{
    <h1>Заказ с указанным номером не найден.</h1>
}
else
{
    <table class="table table-sm table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Номер заказа</th>
                <th>Нзавание книги</th>
                <th>Количество книг</th>
                <th>ISBN</th>
                <th>Информация о заказчике</th>
                <th>Время заказа</th>
                <th>Время обработки заказа</th>
                <th>Оформление заказа</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.Book.Title</td>
                <td>@Model.Count</td>
                <td>@Model.Book.Isbn</td>
                <td>@Model.User.Name</td>
                <td>@Model.DateOrder</td>
                @if (Model.DateCheckout.Year == 0001)
                {
                    <td>Заказ не обработан</td>
                    <td>
                        <form action="" method="post">
                            <input type="hidden" name="orderId" value="@Model.Id" />
                            <button class="btn btn-success" asp-action="Checkout" asp-controller="Order" type="submit">Оформить</button>
                        </form>
                    </td>
                }
                else
                {
                    <td>@Model.DateCheckout</td>
                    <td></td>
                }
            </tr>
        </tbody>
    </table>
}


