﻿@model IEnumerable<LibraryApp.BLL.DTO.Order.OrderBLL>
@{
    ViewData["Title"] = "Обработанные заказы";
}
<form class="form-inline my-2 my-lg-0" asp-area="" asp-controller="Order" asp-action="GetOnQuery" method="get">
    <input class="form-control mr-sm-2" size="40" type="search" name="query" placeholder="Введите номер заказа" />
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
</form>
<a class="btn btn-outline-success my-2 my-sm-0" href="@Url.Action("Get", "Order")">Все заказы</a>
<a class="btn btn-outline-success my-2 my-sm-0" href="@Url.Action("GetUnprocessed", "Order")">Активные заказы</a>
<a class="btn btn-outline-success my-2 my-sm-0" href="@Url.Action("GetCheckout", "Order")">Выданные книги</a>

<h1>Возвращенные заказы</h1>
@if (Model.Count() == 0)
{
    <h3>Отсутствуют возвращенные заказы</h3>
}
else
{
    <h1>Список обработанных заказов</h1>
    <table class="table table-sm table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Номер заказа</th>
                <th>Нзавание книги</th>
                <th>Количество книг</th>
                <th>ISBN</th>
                <th>Информация о заказчике</th>
                <th>Время заказа</th>
                <th>Время обработки заказа</th>
                <th>Время возврата заказа</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.Id</td>
                    <td>@order.Book.Title</td>
                    <td>@order.Count</td>
                    <td>@order.Book.Isbn</td>
                    <td>@order.User.Name</td>
                    <td>@order.DateOrder</td>
                    <td>@order.DateCheckout</td>
                    <td>@order.DateReturn</td>
                </tr>
            }
        </tbody>
    </table>
}
