﻿@model List<int>
@{
    ViewData["Title"] = "Результаты обработки заказов";
}
@if (Model.Count == 1)
{
    @foreach (var number in Model)
    { 
        <h1>Ваш заказ успешно обработан. Номер заказа - @number</h1>
    }
}
else
{
    <h1>Ваши заказы успешно обработаны. Номера заказов: </h1>
    foreach (var number in Model)
    {
        <h1>@number</h1>
    }
}

