﻿@model Cart
@{
    ViewData["Title"] = "Корзина заказов";
}

<div class="container">
    <h1>Корзина заказов</h1>
    <table class="table table-sm table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Название</th>
                <th>Автор</th>
                <th>Количество экземпляров</th>
                <th>Удалить</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cartItem in Model.CartItems)
            {
                <tr>
                    <td><a href="@Url.Action("GetById", "Book", new { id = cartItem.BookId })">@cartItem.BookTitle</a></td>
                    <td>@cartItem.AuthorName</td>
                    <td>
                        <form action="" method="post">
                            <input type="hidden" name="bookId" value="@cartItem.BookId" />
                            <input type="number" value="@cartItem.Count" name="count" />
                            <button class="btn btn-success" asp-action="Add" asp-controller="Cart" type="submit">Добавить</button>
                        </form>
                    </td>
                    <td>
                        <button id="deleteCart" data-action="/cart/delete?bookId=@cartItem.BookId" class="btn btn-success">Удалить</button>
                        @*<form action="" method="get">
                            <input type="hidden" name="bookId" value="@cartItem.BookId" />
                            <button id="deleteCart" title="/cart/delete?bookId=@cartItem.BookId" class="btn btn-success" asp-action="Delete" asp-controller="Cart" type="submit">Удалить</button>
                        </form>*@
                        <div id="myDelete"></div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <form action="" method="post">
        <input type="hidden" name="userId" value="@User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value" />
        <button class="btn btn-success" asp-action="Index" asp-controller="Order" type="submit">Оформить заказ</button>
    </form>
</div>

<script src="~/js/confirmAction.js"></script>
