﻿@model string
@{
    ViewData["Title"] = "Создание новой роли";
}

<h1>Создание новой роли</h1>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Create" asp-controller="Role" method="post">
    <div class="form-group">
        <label for="name">Новая роль</label>
        <input name="name" class="form-control"/>
    </div>
    <button type="submit" class="btn btn-success">Добавить</button>
</form>

