﻿@model LibraryApp.BLL.DTO.Role.UserRoleModel
@{
    ViewData["Title"] = "Изменение ролей пользователя";
}

<h1>Изменение полей пользователя</h1>

<form asp-action="Edit" asp-controller="Role" method="post">
    <input type="hidden" name="userId" value="@Model.UserId" />
    <div class="form-group">
        @foreach (var role in ViewBag.AllRoles)
        {
            <input type="checkbox" name="roles" value="@role.Name" @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name <br />
        }
    </div>
    <button type="submit" class="btn btn-success">Сохранить</button>
</form>

