﻿@model List<LibraryApp.BLL.DTO.Role.RoleBLL>
@{
    ViewData["Title"] = "Список ролей";
}

<h1>Список ролей</h1>
<table class="table table-sm table-striped">
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td>
                    <form asp-action="Delete" asp-controller="Role" method="post">
                        <input type="hidden" name="role.Id" value="@role.Id" />
                        <input type="hidden" name="role.Name" value="@role.Name" />
                        <button type="submit" class="btn btn-sm btn-danger">Удалить</button>
                    </form>
                </td>
            </tr>
        }
</table>
<a href="@Url.Action("Create", "Role")">Создать новую роль</a>

