﻿/*#slider {
    width: 610px;
    height: 310px;
    margin: 50px auto;*/
    /*overflow: hidden;*/
    /*border: double 5px #b5a7b5;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
}*/

/*#strip {
    width: 800px;
    position: relative;
    left: 0;
    transition: all ease 1s;
}

#strip img {
    float: left;
}

#strip::after {
    content: "";
    display: block;
    clear: both;
}*/

.menu {
    text-align: center;
    box-shadow: 0 0 5px;
}

.menu a {
    text-decoration: none;
    color: black
}

.menu a:hover {
    text-decoration: none;
    color: white;
}

#top {
    position: fixed;
    right: 30px;
    bottom: 80px;
}

#resultSearch {
    color: black;
}

#resultSearch:hover {
    color: black;
    text-decoration: none;
    background-color: darkgray;
}

hr {
    margin: 0px 0px 0px 0px;
}
