﻿@model AuthorItem
@{
    ViewData["Title"] = "Создание автора";
}
<div class="container">
    <h1>Добавление автора</h1>
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Name">Имя автора</label><br />
            <input asp-for="Name" class="form-control mr-sm-2" size="40" type="text" placeholder="Введите имя автора" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Discription">Описание автора</label><br />
            <textarea asp-for="Discription" cols="30" rows="7" class="form-control mr-sm-2" placeholder="Заполните описание автора"></textarea>
            <span asp-validation-for="Discription" class="text-danger"></span>
        </div>
        <label>Изображение</label>
        <input name="Image" type="file" class="form-control" />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Создать</button>
    </form>
</div>

