﻿@model PaginatedList<AuthorItem>
@{
    ViewData["Title"] = "Доступные авторы";
}

<form id="formSearch" class="form-inline my-2 my-lg-0" title="/author/get-by-query" asp-area="" asp-controller="Author" asp-action="GetByQuery" method="get">
    <input id="search" class="form-control mr-sm-2" autocomplete="off" size="40" type="text" name="query" placeholder="Введите имя автора">
</form>
<div id="livesearch"></div>

<h1>Перечень доступных авторов</h1>
@if (User.IsInRole("admin"))
{
    <a class="btn btn-outline-success my-2 my-sm-0" href="@Url.Action("Create", "Author")">Добавить нового автора</a> <br />
}

@if (Model.Items.Count() == 0)
{
    <p>Ничего не найдено.</p>
}
else
{
    <div id="data" class="row">
        @foreach (var author in Model.Items)
        {
            <div class="col-lg-3">
                @if (author.Picture != null)
                {
                    <img class="img-thumbnail" src="data:image/jpeg;base64,@(Convert.ToBase64String(author.Picture))" alt="@author.Name" title="@author.Name" style="height: 300px;" /> <br />
                }
                else
                {
                    <img class="img-thumbnail" src="" alt="@author.Name" title="@author.Name" style="height: 300px;" /> <br />
                }

                <a id="getById" href="@Url.Action("GetById", "Author", new { id = author.Id })" data-action="/author/get-by-id">@author.Name</a>
            </div>
        }
    </div>
}

<div id="paginationButtonRegion">
    @if (Model.HasPreviousPage)
    {
        <a id="paginationButtonPrevious" data-action="/author/getJSON" data-pageNumber="@(Model.PageNumber-1)" data-pageSize="12" class="btn btn-outline-dark"><i class="glyphicon glyphicon-chevron-left"></i>Назад</a>
    }
    @if (Model.HasNextPage)
    {
        <a id="paginationButtonNext" data-action="/author/getJSON" data-pageNumber="@(Model.PageNumber+1)" data-pageSize="12" class="btn btn-outline-dark"><i class="glyphicon glyphicon-chevron-right"></i>Вперед</a>
        <br />
    }
</div>

<script src="~/js/pagination.js"></script>

<script src="~/js/Search.js"></script>


