﻿@model AuthorItem
@{
    ViewData["Title"] = "Просмотр информации об авторе";
}

<h1>@Model.Name</h1>
@if (Model.Picture != null)
{
    <img id="myImg" class="img-thumbnail" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Picture))" alt="@Model.Name" style="height:100%; max-height: 500px;" />
    <div id="myModal" class="modal">
        <span id="close" class="close">&times;</span>
        <img class="modal-content" id="img01" />
    </div>
}
else
{
    <img class="img-thumbnail" src="" alt="@Model.Name" style="height: 500px;" />
}
<p>@Model.Discription</p>

@if (User.IsInRole("admin"))
{
    <button id="deleteAuthor" class="btn btn-outline-success my-2 my-sm-0" data-action="/author/delete?id=@Model.Id" >Удалить автора</button>
    <div id="myDelete"></div>
    <br />
    <a class="btn btn-outline-success my-2 my-sm-0" href="@Url.Action("Update", "Author", new { id = Model.Id })">Редактировать данные об авторе</a>
    <br />
}
<a class="btn btn-outline-success my-2 my-sm-0" href="@Url.Action("GetByAuthor", "Book", new { authorId = Model.Id})">Перечень книг автора</a>
<br />

<script src="~/js/confirmAction.js"></script>
<script src="~/js/modalWindowBigImg.js"></script>


