﻿@model PaginatedList<AuthorItem>

@{
    ViewData["Title"] = "Результаты поиска";
}

<form class="form-inline my-2 my-lg-0" asp-area="" asp-controller="Author" asp-action="GetByQuery" method="get">
    <input class="form-control mr-sm-2" size="40" type="search" name="query" placeholder="Введите имя автора" />
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
</form>

<h1>Результаты поиска</h1>

@if (Model.Items.Count() == 0)
{
    <p>По Вашему запросу ничего не найдено</p>
}
else
{
    <div class="row">
        @foreach (var author in Model.Items)
        {
        <div class="col-lg-3">
            @if (author.Picture != null)
            {
                <img class="img-thumbnail" src="data:image/jpeg;base64,@(Convert.ToBase64String(author.Picture))" alt="@author.Name" style="height: 300px;" />
            }
            else
            {
                <img class="img-thumbnail" src="" alt="@author.Name" style="height: 300px;" />
            }
            <a href="@Url.Action("GetById", "Author", new {id = author.Id })">@author.Name</a>
        </div>
        }
    </div>
}

@if (Model.HasPreviousPage)
{
    <a asp-action="GetByQuery" asp-controller="Author"
       asp-route-pageNumber="@(Model.PageNumber - 1)"
       class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.HasNextPage)
{
    <a asp-action="GetByQuery" asp-controller="Author"
       asp-route-pageNumber="@(Model.PageNumber + 1)"
       class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
    <br />
}