﻿@model AuthorItem
@{
    ViewData["Title"] = "Обновление данных об авторе";
}
<div class="container">
    <h1>Обновление данных об авторе</h1>
    <form id="formUpdate" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Name">Введите новое имя автора</label><br />
            <input asp-for="Name" value="@Model.Name" class="form-control mr-sm-2" size="40" type="text" placeholder="@Model.Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Discription">Введите новое описание автора</label><br />
            <textarea asp-for="Discription" cols="30" rows="7" class="form-control mr-sm-2" placeholder="@Model.Discription"></textarea>
            <span asp-validation-for="Discription" class="text-danger"></span>
        </div>
        <div id="divPicture">
            @if (Model.Picture != null)
            {
                <img id="image" style="height: 300px" class="img-thumbnail" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Picture))" data-byte="@(Convert.ToBase64String(Model.Picture))" />
            }
            else
            {
                <img id="image" class="img-thumbnail" src="" data-byte="" />
            }
            <label>Добавте новое изображение</label>
            <input id="picture" asp-for="Image" type="file" class="form-control" />
        </div>

        <button id="update" class="btn btn-outline-success my-2 my-sm-0" type="submit">Обновить</button>
    </form>
</div>


<script src="~/js/updateImage.js"></script>
