﻿@using LibraryApp.DAL.Entities
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Книжный магазин Library</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/css/really-simple-jquery-dialog.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" title="На главную страницу" asp-area="" asp-controller="Home" asp-action="Index">Library</a>
                <span class="navbar-text ml-auto" style="margin-right: 50px;">
                    @{
                        var session = Context.Session;
                        try
                        {
                            var cart = JsonConvert.DeserializeObject<Cart>(session.GetString("Cart"));
                            if (cart != null && cart.TotalCount > 0)
                            {
                                <a href="@Url.Action("Index", "Cart")">Заказов в корзине: @cart.CartItems.Count</a>
                            }
                            else
                            {
                                @:Корзина пуста
                            }
                        }
                        catch
                        {
                            @:Корзина пуста
                        }

                    }
                </span>
                <form class="form-inline my-2 my-lg-0" asp-area="" asp-controller="Account" asp-action="Logout" method="post">
                    <div><p style="margin-bottom: 0px;">Пользователь: @User.Identity.Name</p></div>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="margin-left: 10px;">Выход</button>
                </form>
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3">
        <div class="container">
            <div class="d-flex p-3">
                <div class="sidebar">
                    <a class="active" href="@Url.Action("Get", "Book")">Книги</a><br />
                    <a href="@Url.Action("Get", "Author")">Авторы</a><br />
                    @if (User.IsInRole("admin"))
                    {
                        <a href="@Url.Action("Index", "User")">Управление пользователями и ролями</a><br />
                        <a href="@Url.Action("Get", "Order")">Заказы</a><br />
                    }
                    else
                    {
                        <a href="@Url.Action("GetById", "User", new { id = User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value})">Управление профилем</a><br />
                    }
                </div>
                <div class="restraint">
                    @RenderBody()
                </div>
                <button id="top" class="btn btn-outline-dark">Вверх</button>
            </div>
        </div>
    </main>


    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/LayoutMenu.js" defer></script>

    @RenderSection("Scripts", required: false)
</body>
</html>

