﻿@page
@model LibraryApp.Pages.LoginModel
@{
    ViewData["Title"] = "Вход";
}
    <h2>Вход в приложение</h2>
    <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Name"></label><br />
            <input asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <label asp-for="Password"></label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <button class="btn btn-success" type="submit">Войти</button>
        </div>
    </form>
    <p>
        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Зарегистрировать нового пользователя?</a>
    </p>
