﻿@page
@model LibraryApp.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Регистрация пользователя";
}
    <h2>Регистрация</h2>
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="Name"></label><br />
            <input asp-for="Name" class="form-control input-login" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label><br />
            <input asp-for="Email" class="form-control input-login" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label><br />
            <input asp-for="Password" class="form-control input-login" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PasswordConfirm"></label><br />
            <input asp-for="PasswordConfirm" class="form-control input-login" />
            <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
        </div>
        <div>
            <button class="btn btn-success" type="submit">Регистрация</button>
        </div>
        <p>
            <a asp-page="./Login">Войти в программу под аккаунтом зарегистрированного пользователя?</a>
        </p>
    </form>

