﻿@model LibraryApp.BLL.DTO.Identity.UserAndPasswordModel
@{
    ViewData["Title"] = "Изменение пароля";
}

<h1>Изменение пароля</h1>
<form asp-action="ChangePassword" asp-controller="User">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Name" />
    <div class="form-group">
        <label asp-for="OldPassword" class="control-label">Старый пароль</label>
        <input type="password" asp-for="OldPassword" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="NewPassword" class="control-label">Новый пароль</label>
        <input type="password" asp-for="NewPassword" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-success" />
    </div>
</form>

