﻿@model LibraryApp.BLL.DTO.Identity.UserListItem
@{
    ViewData["Title"] = "Редактирование данных о пользователе";
}

<h1>Редактирование данных о пользователе</h1>
<form asp-action="Edit" asp-controller="User">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="form-group">
        <label asp-for="Name" class="control-label">Имя пользователя</label>
        <input type="text" asp-for="Name" value="@Model.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">Email</label>
        <input type="text" asp-for="Email" value="@Model.Email" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-success" />
    </div>
</form>

