﻿@model LibraryApp.BLL.DTO.Identity.UserListItem
@{
    ViewData["Title"] = "Информация о пользователе";
}

<h1>@Model.Name</h1>
<p><strong>Email: @Model.Email.</strong></p>
<p>Перечень книг на руках: </p>
<table class="table table-sm table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Номер заказа</th>
            <th>Название книги</th>
            <th>Количество книг</th>
            <th>ISBN</th>
            <th>Время заказа</th>
            <th>Время обработки заказа</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in ViewBag.Orders)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.Book.Title</td>
                <td>@order.Count</td>
                <td>@order.Book.Isbn</td>
                <td>@order.DateOrder</td>
            
                @if (order.Status == 1)
                {
                    <td>Книга не получена</td>
                }
                else
                {
                    <td>@order.DateCheckout</td>
                }
            </tr>
        }
    </tbody>
</table>
                @if (User.IsInRole("admin"))
                {
                    <button id="deleteUser" class="btn btn-success" data-action="/user/delete?id=@Model.Id" >Удалить пользователя</button>
                    <div id="myDelete"></div>
                }
                else @if (Model.Id.ToString() == User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value)
                {
                    <a href="@Url.Action("Edit", "User")">Изменить данные текушего пользователя</a>
                    <br />
                    <a href="@Url.Action("ChangePassword", "User")">Изменить пароль текушего пользователя</a>
                }

<script src="~/js/confirmAction.js"></script>

