﻿@model IEnumerable<LibraryApp.BLL.DTO.Identity.UserListItem>
@{
    ViewData["Title"] = "Результаты поиска пользователей";
}

<h1>Результаты поиска</h1>
<form class="form-inline my-2 my-lg-0" asp-area="" asp-controller="User" asp-action="GetByQuery" method="get">
    @*<input class="form-control mr-sm-2" size="40" type="search" name="query" placeholder="Введите имя пользователя" />
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>*@

    <input class="form-control mr-sm-2" size="40" type="text" onkeyup="showResult(this.value)" name="query" placeholder="Введите имя пользователя">
    <div id="livesearch"></div>
</form>
@if (Model.Count() == 0)
{
    <p>Ничего не найдено.</p>
}
else
{
    <ul>
        @foreach (var user in Model)
        {
            @if (user.Name == User.Identity.Name)
            {
                continue;
            }
            <li><a href="@Url.Action("GetById", "User", new {id = user.Id})">@user.Name</a></li>
        }
    </ul>
}

<script src="~/js/Search.js"></script>


