﻿@model PaginatedList<LibraryApp.BLL.DTO.Identity.UserListItem>
@{
    ViewData["Title"] = "Пользователи";
}

<form id="formSearch" class="form-inline my-2 my-lg-0" title="/user/get-by-query" asp-area="" asp-controller="User" asp-action="GetByQuery" method="get">
    <input id="search" class="form-control mr-sm-2" size="40" type="text" name="query" autocomplete="off" placeholder="Введите имя пользователя">
</form>
<h1>Пользователи</h1>
<div id="livesearch">
<input id="userName" type="hidden" value="@User.Identity.Name" />
    @if (Model.Items.Count() == 0)
    {
        <p>Ничего не найдено.</p>
    }
    else
    {
        <table id="data" class="table">
            @foreach (var user in Model.Items)
            {
                @if (user.Name == User.Identity.Name)
                {
                    continue;
                }
                <tr>
                    <td><a id="getById" href="@Url.Action("GetById", "User", new {id = user.Id})" data-action="/user/get-by-id">@user.Name</a></td>
                    <td><a class="btn btn-success" href="@Url.Action("Edit", "Role", new { userId = user.Id })">Права доступа</a></td>
                </tr>
            }
        </table>
    }
</div>

<div id="paginationButtonRegion">
    @if (Model.HasPreviousPage)
    {
        <a id="paginationButtonPrevious" data-action="/user/getJSON" data-pageNumber="@(Model.PageNumber-1)" data-pageSize="12" class="btn btn-outline-dark"><i class="glyphicon glyphicon-chevron-left"></i>Назад</a>
    }
    @if (Model.HasNextPage)
    {
        <a id="paginationButtonNext" data-action="/user/getJSON" data-pageNumber="@(Model.PageNumber+1)" data-pageSize="12" class="btn btn-outline-dark"><i class="glyphicon glyphicon-chevron-right"></i>Вперед</a>
        <br />
    }
</div>

<a href="@Url.Action("Get", "Role")">Просмотреть роли, имеющиеся в приложении</a>

<script src="~/js/pagination.js"></script>
<script src="~/js/SearchUser.js"></script>
