﻿@model IEnumerable<BookItem> 
@{
    ViewData["Title"] = "Онлайн-приложение Library";
}
<div class="text-center container">
    <h1 class="display-4">Онлайн-библиотека для удобного доступа в любимым книгам</h1>
    <h3>Книги, популярные на этой неделе</h3>



    @if (Model.Count() == 0)
    {
        <p>Ничего не найдено.</p>
    }
    else
    {
        <div class="row">
            <div class="col">
                @foreach (var book in Model)
                {
                    @if (book.Picture != null)
                    {
                        <a href="@Url.Action("GetById", "Book", new { id = book.Id })"><img class="img-thumbnail" src="data:image/jpeg;base64,@(Convert.ToBase64String(book.Picture))" alt="@book.Title" title="@book.Title" style="height: 300px; width: 200px;" /></a>
                    }
                    else
                    {
                        <img class="img-thumbnail" src="" alt="@book.Title" title="@book.Title" style="height: 300px; width: 200px;" />
                    }
                }
            </div>
        </div>
    }
</div>
<div class="container">
    <h3><strong>Читайте удобно где угодно</strong></h3>
    <p>
        Library — самая большая библиотека книг и аудиокниг на русском
        языке по подписке. Более 200 000 произведений всех жанров в мобильном
        приложении и на сайте: детективы, фантастика, фэнтези, любовные романы,
        книги по бизнесу, психологии, для детей, современная и классическая
        литература. Новинки поступают каждый день — как в книжном магазине,
        только удобнее.
    </p>
    <h3><strong>Рекомендуем хорошие книги</strong></h3>
    <p>
        Подборки в Library — помощники в выборе подходящих произведений по
        настроению, теме, сезону, популярности или экспертной оценке. Мы отбираем
        лучшие книги в нашей библиотеке, чтобы вам не приходилось тратить время
        на поиски. Рассказываем о лауреатах книжных премий и победителях
        конкурсов. Подсказываем, что модно, а что малоизвестно, что почитать в
        отпуске, зимой и летом, в дороге и дома.
    </p>
</div>
