﻿@model BookItem
@{
    ViewData["Title"] = "Добавление книги";
}
<div class="container">
    <h1>Добавление книги</h1>
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>Выберите автора:</label>
            <select asp-for="AuthorItem.Id" class="form-control">
                <option disabled selected>Выберите автора</option>
                @foreach (var author in ViewBag.Authors)
                {
                    <option value="@author.Id">@author.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Title">Название книги</label><br />
            <input asp-for="Title" class="form-control mr-sm-2" size="40" type="text" placeholder="Введите название книги" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Discription">Описание книги</label><br />
            <textarea asp-for="Discription" cols="30" rows="7" class="form-control mr-sm-2" placeholder="Заполните краткое содержание книги"></textarea>
            <span asp-validation-for="Discription" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Publisher">Издательство</label><br />
            <input asp-for="Publisher" class="form-control mr-sm-2" size="40" type="text" placeholder="Заполнитель издательство" />
            <span asp-validation-for="Publisher" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Isbn">ISBN</label><br />
            <input asp-for="Isbn" class="form-control mr-sm-2" size="40" type="text" placeholder="Введите ISBN" />
            <span asp-validation-for="Isbn" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Count">Количество книг в наличии</label><br />
            <input asp-for="Count" class="form-control mr-sm-2" size="40" type="text" placeholder="Введите количество книг" />
            <span asp-validation-for="Count" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TotalCount">Общее количесвто книг</label><br />
            <input asp-for="TotalCount" class="form-control mr-sm-2" size="40" type="text" placeholder="Введите общее количество книг" />
            <span asp-validation-for="TotalCount" class="text-danger"></span>
        </div>
        <label>Изображение</label>
        <input asp-for="Image" type="file" class="form-control" />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Создать</button>
    </form>
</div>


