﻿@model PaginatedList<BookItem>

@{
    ViewData["Title"] = "Список всех книг";
}

<form id="formSearch" class="form-inline my-2 my-lg-0" autocomplete="off" title="/book/get-on-query" asp-area="" asp-controller="Book" asp-action="GetOnQuery" method="get">
    <input id="search" class="form-control mr-sm-2" size="40" type="text" name="query" placeholder="Введите название или ISBN книги">
</form>
<div id="livesearch"></div>

<h1>Книги в библиотеке</h1>
@if (User.IsInRole("admin"))
{
    <a class="btn btn-outline-success my-2 my-sm-0" href="@Url.Action("Create", "Book")">Добавить новую книгу</a> <br />
}

@if (Model.Items.Count() == 0)
{
    <p>Ничего не найдено.</p>
}
else
{
    <div id="data" class="row">
        @foreach (var book in Model.Items)
        {
            <div class="col-lg-3">
                @if (book.Picture != null)
                {
                    <img class="img-thumbnail" src="data:image/jpeg;base64,@(Convert.ToBase64String(book.Picture))" alt="@book.Title" title="@book.Title" style="height: 300px;" /> <br>
                }
                else
                {
                    <img class="img-thumbnail" src="" alt="@book.Title" title="@book.Title" style="height: 300px;" /> <br>
                }
                <a id="getById" href="@Url.Action("GetById", "Book", new { id = book.Id })" data-action="/book/get-by-id">@book.Title</a>
            </div>
        }
    </div>
    }

<div id="paginationButtonRegion">
    @if (Model.HasPreviousPage)
    {
        <a id="paginationButtonPrevious" data-action="/book/getJSON" data-pageNumber="@(Model.PageNumber-1)" data-pageSize="12" class="btn btn-outline-dark"><i class="glyphicon glyphicon-chevron-left"></i>Назад</a>
    }
    @if (Model.HasNextPage)
    {
        <a id="paginationButtonNext" data-action="/book/getJSON" data-pageNumber="@(Model.PageNumber+1)" data-pageSize="12" class="btn btn-outline-dark"><i class="glyphicon glyphicon-chevron-right"></i>Вперед</a>
        <br />
    }
</div>

<script src="~/js/pagination.js"></script>
<script src="~/js/Search.js"></script>
