﻿@model BookItem
@using LibraryApp.BLL.DTO.Common
@{
    ViewData["Title"] = "Просмотр информации о книге";
}

<h1>@Model.Title</h1>
@if (Model.Picture != null)
{
    <img id="myImg" class="img-thumbnail" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Picture))" alt="@Model.Title" style="height: 500px;" />
    <div id="myModal" class="modal">
        <span id="close" class="close">&times;</span>
        <img class="modal-content" id="img01" />
    </div>
}
else
{
    <img class="img-thumbnail" src="" alt="@Model.Title" style="height: 500px;" />
}
<p><strong>Автор: <a href="@Url.Action("GetById", "Author", new { id = Model.AuthorItem.Id})">@Model.AuthorItem.Name</a>. Издательство: @Model.Publisher.</strong></p>
<p>@Model.Isbn</p>
<p>@Model.Discription</p>
<p><strong>В наличии: @Model.Count шт.</strong></p>
<form action="" method="post">
    <input type="hidden" name="item.BookId" value="@Model.Id" />
    <input type="hidden" name="item.BookTitle" value="@Model.Title" />
    <input type="hidden" name="item.AuthorName" value="@Model.AuthorItem.Name" />
    <button class="btn btn-success" asp-action="Add" asp-controller="Cart" type="submit">Добавить в корзину</button>
</form>
@if (User.IsInRole("admin"))
{
    if (Model.IsFavoriteBook)
    {
        <form action="" method="post">
            <input type="hidden" name="bookId" value="@Model.Id" />
            <button class="btn btn-outline-success my-2 my-sm-0" asp-action="MakePopular" asp-controller="Book" type="submit">Убрать из популярных</button> <br />
        </form>
    }
    else
    {
        <form action="" method="post">
            <input type="hidden" name="bookId" value="@Model.Id" />
            <button class="btn btn-outline-success my-2 my-sm-0" asp-action="MakePopular" asp-controller="Book" type="submit">Добавить в популярные</button> <br />
        </form>
    }
    <a class="btn btn-outline-success my-2 my-sm-0" href="@Url.Action("Update", "Book", new { id = Model.Id })">Обновить данные</a>
    <br />
    <button id="deleteBook" class="btn btn-outline-success my-2 my-sm-0" data-action="/book/delete?id=@Model.Id">Удалить книгу</button>
    <div id="myDelete"></div>
}

<script src="~/js/confirmAction.js"></script>
<script src="~/js/modalWindowBigImg.js"></script>

