﻿@model PaginatedList<BookItem>
@{
    ViewData["Title"] = "Список книг автора";
}

<h1>Список книг автора, имеющихся в библиотеке</h1>
<table class="table table-sm table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Название</th>
            <th>Издательство</th>
            <th>Количество экземпляров</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Items)
        {
            <tr>
                <td><a href="@Url.Action("GetById", "Book", new { id = book.Id })">@book.Title</a></td>
                <td>@book.Publisher</td>
                <td>@book.Count</td>
            </tr>
        }
    </tbody>
</table>

@if (Model.HasPreviousPage)
{
    <a asp-action="GetByAuthor" asp-controller="Book"
       asp-route-pageNumber="@(Model.PageNumber - 1)"
       class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.HasNextPage)
{
    <a asp-action="GetByAuthor" asp-controller="Book"
       asp-route-pageNumber="@(Model.PageNumber + 1)"
       class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
    <br />
}
