﻿@model PaginatedList<BookItem>

@{
    ViewData["Title"] = "Результаты поиска";
}

<form class="form-inline my-2 my-lg-0" asp-area="" asp-controller="Book" asp-action="GetOnQuery" method="get">
    <input class="form-control mr-sm-2" size="40" type="search" name="query" placeholder="Введите название или ISBN книги" />
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
</form>

<h1>Результаты поиска</h1>

@if (Model.Items.Count() == 0)
{
    <p>По Вашему запросу ничего не найдено</p>
}
else
{
    <div class="row">
        @foreach (var book in Model.Items)
        {
        <div class="col-lg-3">
            @if (book.Picture != null)
            {
                <img class="img-thumbnail" src="data:image/jpeg;base64,@(Convert.ToBase64String(book.Picture))" alt="@book.Title" style="height: 300px;" />
            }
            else
            {
                <img class="img-thumbnail" src="" alt="@book.Title" style="height: 300px;" />
            }
            <a href="@Url.Action("GetById", "Book", new { id = book.Id })">@book.Title</a>
        </div>
        }
    </div>
}

@if (Model.HasPreviousPage)
{
    <a asp-action="GetOnQuery" asp-controller="Book"
       asp-route-pageNumber="@(Model.PageNumber - 1)"
       class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.HasNextPage)
{
    <a asp-action="GetOnQuery" asp-controller="Book"
       asp-route-pageNumber="@(Model.PageNumber + 1)"
       class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
    <br />
}