﻿@model BookItem
@{
    ViewData["Title"] = "Обновление информации о книге";
}

<div class="container">
    <h1>Обновление информации о книге</h1>
    <form method="post">
        <div class="form-group">
            <label>Выберите нового автора:</label>
            <select asp-for="AuthorItem.Id" class="form-control">
                <option value="@Model.AuthorItem.Id" selected>@Model.AuthorItem.Name</option>
                @foreach (var author in ViewBag.Authors)
                {
                    if (author.Id == Model.AuthorItem.Id)
                    {
                        continue;
                    }
                    <option value="@author.Id">@author.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Title">Введите новое название книги</label><br />
            <input asp-for="Title" value="@Model.Title" class="form-control mr-sm-2" size="40" type="text" placeholder="@Model.Title" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Discription">Введите новое описание книги</label><br />
            <textarea asp-for="Discription" cols="30" rows="7" class="form-control mr-sm-2" placeholder="@Model.Discription"></textarea>
            <span asp-validation-for="Discription" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Publisher">Введите новое издательство</label><br />
            <input asp-for="Publisher" value="@Model.Publisher" class="form-control mr-sm-2" size="40" type="text" placeholder="@Model.Publisher" />
            <span asp-validation-for="Publisher" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Isbn">Введите новый ISBN</label><br />
            <input asp-for="Isbn" value="@Model.Isbn" class="form-control mr-sm-2" size="40" type="text" placeholder="@Model.Isbn" />
            <span asp-validation-for="Isbn" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Count">Введите новое количество книг в наличии</label><br />
            <input asp-for="Count" value="@Model.Count" class="form-control mr-sm-2" size="40" type="text" placeholder="@Model.Count" />
            <span asp-validation-for="Count" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TotalCount">Введите новое общее количесвто книг</label><br />
            <input asp-for="TotalCount" value="@Model.TotalCount" class="form-control mr-sm-2" size="40" type="text" placeholder="@Model.TotalCount" />
            <span asp-validation-for="TotalCount" class="text-danger"></span>
        </div>
        <div id="divPicture">
            @if (Model.Picture != null)
            {
                <img id="image" style="height: 300px" class="img-thumbnail" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Picture))" data-byte="@(Convert.ToBase64String(Model.Picture))" />
            }
            else
            {
                <img id="image" class="img-thumbnail" src="" data-byte="" />
            }
            <label>Добавте новое изображение</label>
            <input id="picture" asp-for="Image" type="file" class="form-control" />
        </div>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Обновить</button>
    </form>
</div>


<script src="~/js/updateImage.js"></script>
